<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop.xsd
	    http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	    http://www.springframework.org/schema/websocket
	    http://www.springframework.org/schema/websocket/spring-websocket-4.1.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">
	 <!-- base-package(controller,logic,dao,aop)에 속한 클래스가 @Component가 있는 경우 객체화 -->
	<context:component-scan base-package="controller,logic,dao,aop,dao.mapper"/>
	<!-- 유효성 검증을 어노테이션으로 처리하도록 결정 -->
	<mvc:annotation-driven/><!-- annotation으로 mvc모델이 구동되도록 설정 -->
	<aop:aspectj-autoproxy/>
	<!-- 
		http:localhost:8080/mavenshop3/item/list.shop
		item : ItemController 클래스 검색.
		URL 요청정보와 Controller를 이름으로 매핑하도록 설정(팀 프로젝트시 업무 나눌 때 사용)
	 -->
	<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/><!-- handler mapping : 클래스의 이름을 가지고 수행 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix"> <!-- 기본접미사 : .jsp -->
			<value>/WEB-INF/view/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- 파일 업로드 설정 관련 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:maxUploadSize="104857600" p:maxInMemorySize="10485760"/>
	<!--
		  에외 처리 관련 설정 
		exception.CartEmptyException 예외 발생시 /WEB-INF/view/exception.jsp 페이지가 예외페이지로 설정
	-->
	<bean id="exceptionHandler" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<value>exception.CartEmptyException=exception
				   exception.LoginException=exception
				   exception.ShopException=exception</value> <!-- exception.LoginException=exception : = 뒤의 exception은 exception.jsp를 지칭 -->
		</property>
	</bean>
	<!-- 웹소켓 담당 핸들러 -->
	<bean id="echoHandler" class="websocket.EchoHandler"/>
	<websocket:handlers>
		<websocket:mapping handler="echoHandler" path="/chatting.shop"/>
	</websocket:handlers>
</beans>